name: Run Java Program

on:
  workflow_dispatch:

jobs:
  run-java:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Compile Java
        run: javac src/Main.java

      - name: Run Java Program
        run: java -cp src Main
